<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login User</title>
</head>
<body>
    <h1>login</h1>
    <form action="/login" method="POST">
        <label for="emailId">emailId:</label>
        <input type="email" name="emailId" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">login</button>
    </form> 
</body>
</html>